.row {
    margin-bottom: 5px;
}
#c_list li{
    background-color: #838b8b;
    color:white;
}
h1 {
    text-align: center;
    color: crimson;
    font-weight:bold;
}
body {
    background-color: #b4cdcd;
}
.page-header a{
    color:inherit;
    text-decoration:none;
}
#inventory th{
    text-align:center;
}
/*.skill_choices input{
    width:100px;
    height:100px;
}*/
