/* 
    rpg.css - Stylesheet for Puzzles RPG Page Layout (what's common on each page)
    Author: Michael Fraser
*/

.row {
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    color: crimson;
    font-weight: bold;
}

body {
    background-color: #b4cdcd;    
}

.page-header a{
    color: inherit;
    text-decoration: none;
}
